.lm_goldenlayout {
  background: white;
}

.lm_content {
  background: #fff;
}

.lm_dragProxy .lm_content {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.lm_dropTargetIndicator {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4);
  outline: 1px dashed rgba(0, 0, 0, 0.2);
  margin: -1px;
  transition: all 200ms ease;
}

.lm_dropTargetIndicator .lm_inner {
  background: #000;
  opacity: 0.1;
  filter: alpha(opacity=1);
}

.lm_splitter {
  background: #f7f7fc;
  transition: opacity 200ms ease;
  z-index: 100;
}

.lm_splitter:hover {
  background: #f7f7fc;
}

.lm_header {
  height: 30px;
  background-color: #f7f7fc;
}

.lm_header.lm_selectable {
  cursor: pointer;
}

.lm_selected .lm_header {
  background-color: #452500;
}

.lm_maximised .lm_header {
  background-color: #fff;
}

.lm_header .lm_tab {
  padding-left: 12px !important;
  padding-right: 12px !important;
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
  background: #f7f7fc;
  margin-top: 0;
  color: #05192d;
  font-weight: 600;
}

.lm_header .lm_tab .lm_title {
  font-size: 0.9rem;
  line-height: 30px;
}

.lm_tab.lm_active,
.lm_tab:hover {
  color: #777;
  background: #f7f7fc;
}

.lm_header .lm_tab.lm_active {
  border-bottom: none;
  color: #05192d;
  background-color: #fff;
}

.lm_header .lm_tab .lm_close_tab {
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: alpha(opacity=40);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAIklEQVR4nGNgYGD4z4Ad/Mdg4ODDBXCZRFgCp5EEHQMXBwAQAgz0SVCcggAAAABJRU5ErkJggg==);
}

.lm_header .lm_tab .lm_close_tab {
  width: 11px;
  height: 11px;
  right: 6px;
  top: 4px;
  background-repeat: no-repeat;
}

.lm_header .lm_tab .lm_close_tab:hover,
.lm_header .lm_tab.lm_active .lm_close_tab {
  opacity: 1;
  filter: alpha(opacity=100);
}

.lm_controls > li {
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  opacity: 0.4;
  transition: opacity 300ms ease;
}

.lm_controls > li:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.lm_controls .lm_popout {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANUlEQVR4nI2QMQoAMAwCz5L/f9mOzZIaN0E9UDyZhaaQz6atgBHgambEJ5wBKoS0WaIvfT+6k2miecn19maaaaaasuvork5cyii=);
}

.lm_controls .lm_maximise {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAIklEQVR4nGNkYGD4z0AAMBFSAAOETPpPlEmDUREjAxHhBABPvAQLFv3qngAAAABJRU5ErkJggg==);
}

.lm_maximised .lm_controls .lm_maximise {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJklEQVR4nGP8//8/AyHARFDFUFbEwsDAwMDIyIgzHP7//89IlEkApSkHEScJTKoAAAAASUVORK5CYII=);
}

.lm_controls .lm_close {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVR4nGNgYGD4z4Af/Mdg4FKASwCnDf8JKSBoAtEmEXQTQd8RDCcA6+4q8ovigasaaaaasuvork5cyii=);
}

.lm_transition_indicator {
  background-color: #000;
  border: 1px dashed #555;
}

.lm_popin {
  cursor: pointer;
}

.lm_popin .lm_bg {
  background: #000;
  opacity: 0.7;
}

.lm_popin .lm_icon {
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.7;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAWklEQVR4nJWOyw3AIAxDHcQC7L8jbwT3AlJBfNp3SiI7dtRaLSlKKeoA1oEsKSQZCEluexw8Tm3ohk+E7bnOUHUGcNh+HwbBygw4AZ7FN/Lt84p0l+yTflV8AKQyLdcCRJi/AAAAAElFTkSuQmCC);
}

.lm_popin:hover .lm_icon {
  opacity: 1;
}

.lm_splitter.lm_horizontal .lm_drag_handle {
  cursor: ew-resize;
}

.lm_splitter.lm_vertical .lm_drag_handle {
  cursor: ns-resize;
}
