// Copied from https://raw.githubusercontent.com/datacamp/main-app/6c7c0b12df7ee10aef178bc8c3fdea9fc9e09de4/app/assets/stylesheets/new_styleguide/lib/_globals.scss

// *********************************
// *********************************
// Global Variables
// *********************************

// ------ Grid baseline ---------
$baseline: 5px;

// ---------- Colors ----------
$primary-dark: #000820;
$primary: #05192d;

$greySubtle: #f7f7fc;

$green: #03ef62;
$green-light: #65ff8f;
$red: #ff5400;
$red-light: #ff782d;
$orange: #ff931e;
$navy: #05192d;
$navy-light: #213147;
$navy-dark: #000820;
$purple-light: #974dff;

$dark-grey: #3d4251;

$grey: #686f75;

$white: #ffffff;
$transparent-white: rgba(255, 255, 255, 0.2);

//COLORS BELOW THIS ARE ONLY HERE FOR LEGACY, THEY SHOULD NOT BE USED

$text: $navy;

$link-color: $primary;

// -------- Typography --------
$font-family: "Studio-Feixen-Sans-Variable", sans-serif;
$h1-size: 2.8rem; //42px
$h2-size: 2.533rem; //38px
$h3-size: 2rem; //30px
$h4-size: 1.467rem; //22px
$h5-size: 1.133rem; //17px
$small-font-size: 0.8667rem; //13px
// It should only be used in rare situations and with the designer's approval
$micro-font-size: 0.6rem; //9px
$default-font-size: 16px;
$default-line-height: 1.5;
$header-line-height: 1;
$code-border-radius: 3px;

// ---------- Navbar ----------
$navbar-height: 40px;

// -------- Forms --------
$form-border-radius: 4px;
$form-border-width: 1px;
$form-radio-radius: 3px;
$form-radio-border-width: 2px;

// ---------Border radius ---------
$border-radius: 4px;

// ---------- Buttons ----------
$button-radius: 4px;
$button-font-size: $default-font-size;
$button-font-weight: 700;
$button-line-height: $default-line-height;
$button-small-radius: 4px;
$button-small-font-size: 16px;
$button-small-line-height: 1.2;

// ---------- Spacing ----------
$header-margin: 0.9375rem;

// ---------- Tables ----------
$table-spacing: 10px;
$table-border-width: 1px;

// ---------- Cards ----------
$card-outline-width: 2px;

// ---------- Transitions ----------
$default-duration: 150ms;

// ---------- Transitions ----------
$z-max: 10;

// ---------- Breakpoints ----------
$bp-xxs: 480px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;

// DEPRECATED -- DO NOT USE
// see new_styleguide/lib/_spacing.scss for proper spacing function
$default-space: 2rem;
