.card {
	background-color: white;
	color: $text;
	text-align: center !important;
	padding: 20px 30px;
	margin: 30px 0;
}

.card-small {
	padding: 16px;
}

.card-primary {
	background-color: $primary;
	color: $text-invert;
}

.card-primary-ultralight {
	background-color: $primary-ultra-light;
}

.card-primary-extralight {
	background-color: $primary-extra-light;
}

.card-accent {
	background-color: $accent;
	color: $text-invert;
}

.card-accent-ultralight {
	background-color: $accent-ultra-light;
}

.card-outline--primary {
	border: $card-outline-width solid $primary;
}

.card-outline--lighter {
	border: $card-outline-width solid $primary-lighter;
}

.card-outline--extralight {
	border: $card-outline-width solid $primary-extra-light;
}

.card-outline--accent {
	border: $card-outline-width solid $accent;
}

.card-circle-top {
	padding-top: 50px;
	margin-top: 60px;
	position: relative;

	.card-circle-top-image {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
