.flash {
    position: relative;
    padding: $flash-spacing $flash-spacing $flash-spacing 70px;
    font-size: $h5-size;

    .close {
        display: block;
        margin: 0;
        position: absolute;
        top: -5px;
        left: 20px;
        transition: color $default-duration ease;
    }

    .close:before {
        content: "×";
        display: block;
        font-size: 3em;
        line-height: 1;
        position: relative;
        top: 8px;
    }

    .close:hover:before {
        cursor: pointer;
        color: $text-invert;
    }
}

.flash strong {
    margin-right: 5px
}

.continue {
    display: none;
    position: relative;
    font-weight: 700;
    font-size: $default-font-size;
    transition: all $default-duration ease;
}
.continue:before {
    border-radius: 50%;
    content: "";
    display: block;
    height: 25px;
    position: absolute;
    right: -40px;
    top: 0px;
    width: 25px;
    transition: all $default-duration ease
}
.continue:after {
    content: "›";
    display: block;
    font-size: 24px;
    position: absolute;
    right: -32px;
    top: -6px
}
.continue:hover {
    cursor: pointer
}

@media screen and (min-width: 480px) {
    .flash {
        text-align: left !important;
        padding: $flash-spacing 170px $flash-spacing 70px;
    }

    .continue {
        position: absolute;
        display: inline-block;
        right: 60px;
        top: 20px;
    }
}

@media screen and (min-width: $bp-md) {
    .flash {
        text-align: center !important;
    }
}

@mixin color-flash($bg, $close, $continue, $hover){
    background-color: $bg;
    color: $text-invert;

    .close { color: $close; }
    .continue { color: $continue; }
    .continue:before { background-color: $continue; }
    .continue:after { color: $bg; }
    .continue:hover { color: $hover; }
    .continue:hover:before { background-color: $hover; }
}

.flash-dark,
.flash-notice {
    @include color-flash($text, $text-tertiary, $accent, $accent-light)
}
.flash-primary {
    @include color-flash($primary, $primary-light, $primary-dark, $text-invert)
}
.flash-success {
    @include color-flash($success, $success-light, $success-dark, $text-invert)
}
.flash-accent,
.flash-alert {
    @include color-flash($accent, $accent-light, $accent-dark, $text-invert)
}
.flash-error {
    @include color-flash($error, $error-light, $error-dark, $text-invert)
}
