// Layout
fieldset {
    border: 0;
    padding: 0.625em 0;
    width: 100%
}
@media screen and (min-width: 480px) {
    fieldset {
        width: 20em
    }
}
.card fieldset {
    width: 100%
}

// Text input
@mixin input-placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
};

@mixin input-focus-placeholder {
  &:focus::-webkit-input-placeholder {@content}
  &:focus:-moz-placeholder           {@content}
  &:focus::-moz-placeholder          {@content}
  &:focus:-ms-input-placeholder      {@content}
};

input,
textarea {
    background-color: $primary-extra-light;
    border: $form-border-width solid $primary-extra-light;
    border-radius: $form-border-radius;
    color: $primary;
    padding: 0.9375em 0.9375em 0.75em;
    width: 100%;
    transition: border $default-duration ease-out;

    @include input-placeholder{
        transition: color 0.25s;
        color: $primary-light;
    }

    @include input-focus-placeholder {
        color: rgba(126, 204, 226, 0.5)
    }

    &:focus {
        border-color: $primary-light;
        outline: none
    }
}

// Buttons
button[type=submit] {
    width: 100%;
    margin: 0;
}

button[type=submit].dcl-btn-secondary {
    float: right;
    width: auto;
    margin: 0;
    font-size: $small-font-size;
}

// Checkboxes and radio buttons
input[type=checkbox],
input[type=radio] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    left: -99999px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: auto;
    transition: color $default-duration ease-out
}
input[type=checkbox]+label,
input[type=radio]+label {
    transition: color $default-duration ease-out;
    display: inline-block;
    color: $primary-light;
    cursor: pointer;
    padding: 0 0 0 1.5em;
    position: relative
}
input[type=checkbox]+label:before,
input[type=radio]+label:before {
    background: $primary-lighter;
    border-radius: $form-radio-radius;
    border: $form-radio-border-width solid $primary-lighter;
    box-sizing: border-box;
    content: "";
    height: 16px;
    left: 0;
    margin-top: 4px;
    position: absolute;
    width: 16px;
    transition: background-color $default-duration ease-out, border-color $default-duration ease-out
}
input[type=checkbox]+label:hover:before,
input[type=radio]+label:hover:before {
    background-color: $primary-light;
    border-color: $primary-light
}
input[type=checkbox]:checked+label,
input[type=radio]:checked+label {
    color: $primary
}
input[type=checkbox]:checked+label:before,
input[type=radio]:checked+label:before {
    border: $form-radio-border-width solid $primary;
    background-color: $primary;
    background-image: linear-gradient(180deg, #fff $form-radio-border-width, transparent $form-radio-border-width), linear-gradient(-90deg, #fff $form-radio-border-width, transparent $form-radio-border-width), linear-gradient(90deg, #fff $form-radio-border-width, transparent $form-radio-border-width), linear-gradient(0deg, #fff $form-radio-border-width, transparent $form-radio-border-width)
}
input[type=checkbox]:disabled+label,
input[type=radio]:disabled+label {
    color: $primary-lighter;
    cursor: default
}
input[type=checkbox]:disabled+label:before,
input[type=radio]:disabled+label:before {
    border-color: $primary-extra-light;
    background-color: $primary-extra-light
}
input[type=checkbox]:disabled+label:hover:before,
input[type=radio]:disabled+label:hover:before {
    background-color: $primary-extra-light;
    border-color: $primary-extra-light
}
input[type=radio]+label:before {
    border-radius: 50%
}
input[type=radio]:checked+label:before {
    background-image: radial-gradient(rgba(0, 0, 0, 0) 4px, #ffffff 4px)
}


// Toggle switch
// Copied, don't change.
.toggle-switch input+label {
    padding-left: 68px;
    &:after {
        transition: all 100ms ease-in-out;
        -webkit-transform: translate(0, 0);
        background-color: $primary-lighter;
        border-radius: 50%;
        border: 2px solid #ffffff;
        content: "";
        display: block;
        left: 0;
        height: 24px;
        opacity: 1;
        position: absolute;
        top: 1px;
        width: 24px
    }
    &:before {
        transition: all 100ms ease-in-out;
        background-color: $primary-lighter;
        border: none;
        border-radius: 2em;
        box-sizing: border-box;
        font-size: 75%;
        height: 18px;
        left: 2px;
        content: "OFF";
        color: #ffffff;
        padding: 2px 0 0 16px;
        text-align: center !important;
        width: 56px
    }
}
.toggle-switch input:hover+label:before {
    background-image: none;
    background-color: $primary-light
}
.toggle-switch input:hover+label:after {
    background-color: $primary-light
}
.toggle-switch input:checked+label:after {
    transition: all 100ms ease-in;
    -webkit-transform: translate(36px, 0);
    -ms-transform: translate(36px, 0);
    transform: translate(36px, 0);
    background-color: $primary
}
.toggle-switch input:checked+label:before {
    background-color: $primary;
    background-image: none;
    content: "ON";
    padding-left: 0;
    padding-right: 14px;
    padding-top: 0
}
.toggle-switch input:checked:hover+label {
    color: #1f697f
}
.toggle-switch input:checked:hover+label:after {
    background-color: #1f697f
}
.toggle-switch input:checked:hover+label:before {
    background-color: #1f697f;
    border-color: #1f697f
}

// Select
select {
    background-color: $primary-extra-light;
    background-image: none;
    border: $form-border-width solid $primary-extra-light;
    border-radius: $form-border-radius;
    box-sizing: border-box;
    box-shadow: none;
    color: $primary-light;
    cursor: pointer;
    padding: 0.625em 0.9375em 0.625em;
    -webkit-appearance: none;
    width: 100%;
    -moz-appearance:none;
    transition: background $default-duration ease, border-color $default-duration ease, color $default-duration ease
}
select:focus {
    outline: none
}
select:hover {
    background-color: $primary-lighter;
    border-color: $primary-lighter;
    color: $primary
}

// The down arrow
.select {
    position: relative
}
.select:before,
.select:after {
    display: block;
    content: "";
    background: $primary-light;
    border-radius: 4px;
    width: 4px;
    height: 15px;
    position: absolute;
    transition: background $default-duration ease
}
.select:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 20px;
    top: 16px
}
.select:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 29px;
    top: 16px
}
.select:hover:before,
.select:hover:after {
    background-color: $primary
}
// end down arrow

// Tabs
.tabs input[type=radio]+label {
    transition: background-color $default-duration ease-out, color $default-duration ease-out;
    background-color: white;
    border: $form-border-width solid $primary;
    border-radius: 0;
    color: $primary;
    display: inline-block;
    font-size: 1.125em;
    margin-right: -5px;
    padding: 0.3em 0 0.2em;
    text-align: center !important;
    vertical-align: top;
    width: 33%;
}
.tabs.two input[type=radio]+label{ width: 50%; }
.tabs.three input[type=radio]+label{ width: 33%; }
.tabs.four input[type=radio]+label{ width: 24%; }
.tabs.five input[type=radio]+label{ width: 20%; }


.tabs input[type=radio]+label:after,
.tabs input[type=radio]+label:before {
    display: none
}
.tabs input[type=radio]:first-of-type+label {
    border-radius: $form-border-radius 0 0 $form-border-radius
}
.tabs input[type=radio]:last-of-type+label {
    border-radius: 0 $form-border-radius $form-border-radius 0
}
.tabs input[type=radio]:checked+label {
    background-color: $primary;
    color: #ffffff
}

// Used by Gift System
.form-error {
  display: none;
  color: $error;
  font-size: $small-font-size;
}
.form-error-active {
  display: block !important;
}
.form-required {
  box-shadow: 0 0 2px 1px $error;
}
