.giftcard {
  color: #333;
  .well {
    background-color: transparent;
  }
  &.card {
    margin-top: 0;
    .time-left {
      margin-top: 1em;
    }
    .fa-clock-o {
      margin-right: 5px;
    }
  }
  .fa-gift {
    padding:5px;
  }
}
