.bg {
	padding: 2em;
}

.bg-navigation {
    padding: 1em;
    background-color: $primary;
    background-image: linear-gradient(transparent 90%, rgba(0,0,0,0.01)),linear-gradient(173deg, #3AAACA, #2389B1);
    color: $text-invert;
    p a {
        transition: color $default-duration ease-out;
        color: $accent;
        border-bottom:1px solid $accent;
        &:hover, { color: $accent-light; }
        &:focus { color: $accent-light; border-bottom: 1px solid $accent-light; outline: none }
    }
}

.bg-pattern {
    background-image: image-url("navbar/pattern.png"),linear-gradient(transparent 90%,rgba(0,0,0,.1)),linear-gradient(transparent,#1287b6);
}

.bg-white {
    background-color: white;
    border: 1px solid $text-tertiary;
    color: $text;
}

.bg-secondary {
    background-color: $primary-extra-light;
}

.subtitle {
    color: $primary-lighter;
    font-size: $h4-size;
    letter-spacing: 6px;
    line-height: 1;
    text-transform: uppercase;
}