.image-rounded {
	border-radius: 50%;
}

.image-editable {
	position: relative;
}

.image-editable:hover:after {
	content: "Edit";
	display: block;
	position: absolute;
	text-align: center !important;
	width: 100%;
	padding-top: 3px;
	color: gray;
}

.clickable {
	cursor: pointer;
}

.image-centered {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.image-vertical-align {
	vertical-align:middle
}
