ul.no-style,
ol.no-style {
    list-style: none;
    margin: 0;
    padding: 0;
}


ul.inline,
ol.inline {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin: 0 10px;

    &:after {
      content: '|';
      position: relative;
      right: -10px;
    }
  }

  li:first-child {
    margin-left: 0;
  }

  li:last-child:after {
    display: none;
  }
}
