.site-wrap {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  z-index: 1000;
  &.dcl-active {
    right: 300px;
    overflow: hidden;
    z-index: 1000;
    &:after {
      background: #fff;
      bottom: 0;
      content: '';
      left: 0;
      opacity: .75;
      position: fixed;
      right: 300px;
      top: 0;
      z-index: 1000;
    }
  }
}

// Animations
.site-wrap {
  transition: right .2s;
  &:after {
    content: '';
    opacity: 0;
    position: absolute;
    transition: opacity .5s;
  }
}

//-----
// Side Nav Base
//-----
.offscreen-nav {
  background-color: $primary;
  background-image: linear-gradient(-90deg, transparent 95%, rgba(#000, .1)), linear-gradient(transparent, #1287b6);
  bottom: 0;
  color: $primary-extra-light;
  font-size: $h5-size;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  z-index: 1;
  display: none;
  &.dcl-active {
    display: block;
  }
}

.offscreen-nav-li {
  border-bottom: 1px solid $primary-light;
  transition: background .5s;
  a {
    display: block;
    padding: 10px 0 10px 30px;
    color: white;
    border-bottom: none;
    &:hover,
    &:focus {
      color:white;
      border-bottom: none;
    }
  }
  &:hover {
    background: $primary-light;
  }

  &.accent {
    background: $accent;
    border-bottom: none;
    a {
      color: $accent-dark;
      font-weight: 700;
    }
    &:hover {
      background: $accent-light;
    }
  }
}

.offscreen-nav-li.top {
  background: image-url("logos/logo.svg") no-repeat center center;
  background-size: 50px;
  display: block;
  height: 74px;
}
