$progress-bar-height: 18px;

.progress-bar {
  position: relative;
  border: 1px solid $primary;
  width: 100%;
  height: $progress-bar-height;
  margin-bottom: $default-space / 2.0;

  .inner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $primary;
    min-width: 5px;
  }
}