table {
    border-collapse: collapse;
    text-align: left !important;
    width: 100%
}
tr {
    border-bottom: $table-border-width solid $primary-extra-light;
}
tr:nth-of-type(3n) {
    background: $primary-ultra-light;
}
th {
    border-bottom: $table-border-width solid $text-tertiary;
    color: $primary;
}
td,
th {
    padding: $table-spacing;
}
td {
    color: $text-secondary;
}
