.topic {
  background: $primary-extra-light;
  border: 1px solid $primary;
  color: $primary;
  cursor: pointer;
  font-size: $h4-size;
  font-weight: 700;
  margin: 24px 0;
  padding: 0.625em 0.625em 0.625em 4.0625em;
  position: relative;
  transition: background-color $default-duration ease, color $default-duration ease;
  text-align: left !important;
  span {
    @include text-truncate();
    display: block;
    margin-right: 29px
  }

  &:hover {
    background-color: $primary;
    color: $text-invert;
  }
}

.topic:before {
  border: 2px solid $text-invert;
}

.topic:before, .topic.image img {
  background: $text-invert;
  border-radius: 50%;
  content: "";
  display: block;
  height: 89px;
  left: -19px;
  position: absolute;
  top: -13px;
  width: 89px;
}

.topic.importing:before {
  background: image-url("topics/topic_importing.svg");
  background-size: 100% 100%;
}

.topic.r-prog:before {
  background: image-url("topics/topic_r.svg");
  background-size: 100% 100%;
}

.topic.data-vis:before {
  background: image-url("topics/topic_visualization.svg");
  background-size: 100% 100%;
}

.topic.reporting:before {
  background: image-url("topics/topic_reporting.svg");
  background-size: 100% 100%;
}

.topic.data-manip:before {
  background: image-url("topics/topic_manipulation.svg");
  background-size: 100% 100%;
}

.topic.py-prog:before {
  background: image-url("topics/topic_python.svg");
  background-size: 100% 100%;
}

.topic.stat-mod:before {
  background: image-url("topics/topic_modeling.svg");
  background-size: 100% 100%;
}

.topic.ml:before {
  background: image-url("topics/topic_machine_learning.svg");
  background-size: 100% 100%;
}
