@import "global.scss";

.placeholder {
  /* stylelint-disable declaration-block-no-duplicate-properties, declaration-block-no-shorthand-property-overrides */
  @include preventive-overrides;
  outline: 1px solid darken($greySubtle, 5%) !important;
  background: #fff;
  /* stylelint-enable */
  margin: 0;
  background-size: auto 80px !important;
  position: relative;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder > code,
.placeholder > div,
.placeholder > p {
  display: none;
}
