@import "global.scss";

.placeholder {
  /* stylelint-disable declaration-block-no-duplicate-properties, declaration-block-no-shorthand-property-overrides */
  @include preventive-overrides;
  outline: 1px solid #d5eaef !important;
  background: #fff url(https://cdn.datacamp.com/spinner.gif) no-repeat center
    center !important;
  color: transparent;
  /* stylelint-enable */
  margin: 0;
  background-size: auto 80px !important;
  position: relative;
  min-height: 300px;
}

.placeholder > code,
.placeholder > div,
.placeholder > p {
  display: none;
}
